.App-logo {
    height: 100px;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .App-logo {
        height: 70px;
    }

    .App-header {
        font-size: calc(8px + 2vmin);
    }
}

/* Media query for screens larger than 1200px */
@media (min-width: 1200px) {
    .App-logo {
        height: 120px;
    }

    .App-header {
        font-size: calc(12px + 2vmin);
    }
}